<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="showModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title h5" id="showModalLabel">
                    <i id="pointer-icon"></i>
                    Emplacement
                </h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="" method="post">
				<div class="modal-body">
					<div class="mb-3">
						<label for="titleEdit" class="form-label required">Titre</label>
						<input type="text" name="titleEdit" class="form-control" id="titleEdit" minlength="2" maxlength="255" required>
						<div class="invalid-feedback">
							Le titre est obligatoire et ne peut dépasser 255 caractères
						</div>
					</div>
					<div class="mb-3">
						<label for="description" class="form-label">Description</label>
						<textarea class="form-control" name="descriptionEdit" maxlength="1500" id="descriptionEdit"></textarea>
						<div class="invalid-feedback">
							La description ne peut dépasser 1500 caractères
						</div>
					</div>
					<h5 class="h5 bg-light border py-1 text-center">Déplacer le marqueur</h5>
					<div class="mb-3">
						<label for="positionYEdit" class="form-label">Depuis le haut de l'image</label>
						<input type="number" name="positionYEdit" step="0.01" class="form-control" id="positionYEdit"  required>
						<div class="invalid-feedback">
							Ce champ est obligatoire
						</div>
					</div>
					<div class="mb-3">
						<label for="positionXEdit" class="form-label">Depuis la gauche de l'image</label>
						<input type="number" name="positionXEdit" step="0.01" class="form-control" id="positionXEdit"  required>
						<div class="invalid-feedback">
							Ce champ est obligatoire
						</div>
					</div>
					<div id="place-linked"></div>
				</div>
				<div class="modal-footer">
					<a href="" id="advanced-edit-btn" class="btn btn-default btn-sm" data-bs-toggle="tooltip" title="Éditer">
						<i class="fas fa-pencil-alt" aria-hidden="true"></i>
						Formulaire avancé
					</a>
					<button type="button" class="btn btn-success btn-sm" id="edit-btn">
						<i class="fas fa-save fa-fw"></i>
						Sauvegarder
					</button>
				</div>
			</form>
		</div>
	</div>
</div>