<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="showModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title h5" id="showModalLabel">
                    <i id="pointer-icon"></i>
                    <span id="pointer-title"></span>
                </h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
                <p id="pointer-description"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" data-bs-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>