{% extends 'admin_layout.html.twig' %}

{% block title %}Créer une image{% endblock %}

{% block activeWiki %}active show{% endblock %}
{% block activeImage %}active{% endblock %}

{% block page_title %}Créer une image{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_image_list') }}" class="text-reset">
			Image
		</a>
	</li>
	<li class="breadcrumb-item active">
		Création
	</li>
{% endblock %}

{% block toolbar %}
	<a href="{{ path('admin_app_image_list') }}" class="btn btn-default btn-sm">
		<i class="fas fa-long-arrow-left"></i>
		Retour
	</a>
{% endblock %}

{% block body %}
	{% include "Admin/image/_form.html.twig" %}
{% endblock %}
