{% extends 'admin_layout.html.twig' %}

{% block title %}Editer "{{ image }}"{% endblock %}

{% block activeImage %}active show{% endblock %}
{% block activeImageList %}active{% endblock %}

{% block page_title %}Editer "{{ image }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_image_list') }}" class="text-reset">
			Images
		</a>
	</li>
	<li class="breadcrumb-item active">
		Editer
	</li>
{% endblock %}

{% block toolbar %}
    {% include 'Admin/components/_toolbar.html.twig' with { prefix: 'image', entity: image, show_route: 'app_image_show' } %}
{% endblock %}

{% block body %}
	{% include "Admin/image/_form.html.twig" %}
{% endblock %}
