{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des images{% endblock %}

{% block activeImage %} active show {% endblock %}
{% block activeImageList %}active{% endblock %}

{% block page_title %}Image{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Images
    </li>
{% endblock %}

{% block toolbar %}
    <a class="btn btn-default btn-sm" href="{{ path('admin_app_image_download') }}">
        <i class="fas fa-download" aria-hidden="true"></i>Télécharger
    </a>
{% endblock %}

{% block body %}
    <div {{ vue_component('admin/image/ImageIndex', { dateFormat: date_format }) }}></div>
{% endblock %}

