{% extends 'admin_layout.html.twig' %}

{% block title %}Créer un portail{% endblock %}

{% block activeWiki %}active show{% endblock %}
{% block activePortal %}active{% endblock %}

{% block page_title %}Créer un portail{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_portal_list') }}" class="text-reset">
			Portails
		</a>
	</li>
	<li class="breadcrumb-item active">
		Créer
	</li>
{% endblock %}

{% block toolbar %}
    {% include 'Admin/components/_toolbar.html.twig' with { prefix: 'portal', entity: null } %}
{% endblock %}

{% block body %}
	{% include "Admin/portal/_form.html.twig" %}
{% endblock %}
