{% extends 'admin_layout.html.twig' %}

{% block title %}Editer "{{ portal }}"{% endblock %}

{% block activeWiki %}active show{% endblock %}
{% block activePortal %}active{% endblock %}

{% block page_title %}Editer "{{ portal }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_portal_list') }}" class="text-reset">
			Portails
		</a>
	</li>
	<li class="breadcrumb-item active">
		Editer
	</li>
{% endblock %}

{% block toolbar %}
    {{ include('Admin/portal/_toolbar.html.twig') }}
{% endblock %}

{% block body %}
	{% include "Admin/portal/_form.html.twig" %}
{% endblock %}
