{% embed 'Admin/components/_toolbar.html.twig' with { prefix: 'user', entity: user  } %}
    {% block custom_action %}
        {% if enable_forum == 1 %}
            <a href="{{ path('admin_app_user_group', {id: user.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Groupes">
                <i class="fas fa-user-tag" aria-hidden="true"></i>
            </a>
        {% endif %} 
    {% endblock %}

    {% block delete_action %}
        {% if 'ROLE_ADMIN' not in user.roles and 'ROLE_SUPER_ADMIN' not in user.roles %}
            {% include "Admin/components/_delete_modal.html.twig" with { element: user, path: 'admin_app_user_delete' } %}
        {% endif %}
    {% endblock %}
{% endembed %}
