{% extends 'admin_layout.html.twig' %}

{% block title %}Editer "{{ user }}"{% endblock %}
{% block activeAdmin %}active show{% endblock %}
{% block activeUser %} active {% endblock %}
{% block page_title %}Editer "{{ user }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_user_list') }}" class="text-reset">
			Utilisateurs
		</a>
	</li>
	<li class="breadcrumb-item active">
		Editer
	</li>
{% endblock %}

{% block toolbar %}
    {% include "Admin/user/_toolbar.html.twig" %}
{% endblock %}

{% block body %}
	{% include "Admin/user/_form.html.twig" %}
{% endblock %}
