{% if heading_title is not defined %}
    {% set heading_title = app_name %}
{% endif %}

{% if heading_description is not defined %}
    {% set heading_description = app_description %}
{% endif %}

{% if disable_search is not defined %}
    {% set disable_search = false %}
{% endif %}

<header class="index-header">
    <div class="heading">
        <h1 class="heading-title">{{ heading_title }}</h1>
        <p class="lead text-center">{{ heading_description }}</p>
    </div>
    {% if disable_search %}
        <div class="mb-5">
            {{ include('includes/_search.html.twig') }}
        </div>
    {% endif %}
    <div class="img-header-left"></div>
    <div class="img-header-right"></div>
</header>