{% extends "base.html.twig" %}

{% block title %}
    Politique de confidentialité | {{ app_name }}
{% endblock %}

{% block body %}
	<article class="py-5 px-5">
		<header class="col-12 mb-4">
			<h2 class="text-uppercase text-center mb-5 text-default h1">Politique de confidentialité</h2>
		</header>
        <h3>Qui sommes-nous ?</h3>
        <p>L’adresse de notre site est : <a href="{{ url('app_home') }}">{{ url('app_home') }}</a>.</p>

        <h3>Commentaires</h3>
        <p>Quand vous laissez un commentaire sur notre site, les données inscrites dans le formulaire de commentaire sont collectés pour nous aider à la détection des commentaires indésirables.</p>

        <h3>Médias</h3>
        <p>Si vous téléversez des images sur le site, nous vous conseillons d’éviter de téléverser des images contenant des données EXIF de coordonnées GPS. Les personnes visitant votre site peuvent télécharger et extraire des données de localisation depuis ces images.</p>

        <h3>Cookies</h3>
        <p>Si vous déposez un commentaire sur notre site, il vous sera demandé de vous créer un compte. C’est uniquement pour votre confort afin de ne pas avoir à saisir ces informations si vous déposez un autre commentaire plus tard.</p>

        <h3>Contenu embarqué depuis d’autres sites</h3>
        <p>Les pages de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles…). Le contenu intégré depuis d’autres sites se comporte de la même manière que si le visiteur se rendait sur cet autre site.</p>

        <p>Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivis tiers, suivre vos interactions avec ces contenus embarqués si vous disposez d’un compte connecté sur leur site web.</p>

        <h3>Durées de stockage de vos données</h3>
        <p>Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment.</p>

        <p>Pour les comptes qui s’inscrivent sur notre site (le cas échéant), nous stockons également les données personnelles indiquées dans leur profil. Tous les comptes peuvent voir, modifier ou supprimer leurs informations personnelles à tout moment (à l’exception de leur identifiant). Les gestionnaires du site peuvent aussi voir et modifier ces informations.</p>

        <h3>Les droits que vous avez sur vos données</h3>
        <p>Si vous avez un compte ou si vous avez laissé des commentaires sur le site, vous pouvez demander à recevoir un fichier contenant toutes les données personnelles que nous possédons à votre sujet, incluant celles que vous nous avez fournies. Vous pouvez également demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité.</p>
    </article>
{% endblock %}