<article class="card shadow-sm h-100">
	<div class="card-body">
		<h2 class="card-title h5 mb-3">
			<i class="fas fa-calendar-alt me-1 text-muted"></i>
			<a href="{{ path('app_timeline_show', {slug: timeline.slug}) }}" class="text-decoration-none stretched-link">
				{{ timeline.title|capitalize }}
			</a>
		</h2>
		<p class="card-text">{{ timeline.description }}</p>
	</div>
</article>
