{% extends 'forum/base.html.twig' %}

{% block title %}Modération | Forum de {{ app_name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Modération</li> 
{% endblock %}

{% block forum_content %}
    <h2>Panneau de modération</h2>
{% endblock %}