{% extends 'base.html.twig' %}

{% block title %}Supprimer un commentaire {% endblock %}

{% block page_title %} <h2 class="display-4">Supprimer un commentaire</h2> {% endblock %}

{% block body %}
    {% include "comment/components/_comment_header.html.twig" with {'article': article} only  %} 

    <article class="py-5 px-4">
        {{ include('comment/components/_comment.html.twig') }}
    </article>

    <article class="text-center my-3">
        <h3 class="text-danger h4">Voulez-vous vraiment supprimer ce commentaire ?</h3>
        <p class="text-danger">Attention, toute suppression est définitive.</p>

        <form method="post" action="">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
            <button class="btn btn-danger" id="submit">
                <i class="fas fa-trash-alt"></i> Supprimer
            </button>
        </form>
    </article>
{% endblock %}
