<th>
    Portail
</th>
<td>
    {% if object.portal %}
        <a href="{{ path('app_portal_notes', {slug: object.portal.slug}) }}" title="Consulter">
            <i class="fas fa-book-reader"></i> {{ object.portal }}
        </a>
    {% endif %}
</td>