.dashboard-title {
    border-bottom: 1px solid #d2d6de;
    padding-bottom: 5px;
    margin-top: 0;
}

.description {
    margin-bottom: 15px;
}

.image-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.image-block img {
    max-width: 490px;
}

blockquote {
    font-size: inherit;
    font-style: italic;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-block {
    max-width: 170px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    padding: 10px;
}

.image-block form {
    padding-top: 5px;
}

.mb-3 {
    margin-bottom: 1rem;
}

.fw-bold {
    font-weight: bold;
}

.form-check .form-check-label {
    font-weight: normal;
}

/* help style */
.help {
    position: relative;
}

.help-body {
    display: none;
    position: absolute;
    top: 10px;
    left: -100px;
    background: #fff;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 9px;
}

.help:hover .help-body {
    display: block;
}

/* sortable style */
.handle {
    cursor: grab;
}

.blue-background-class {
    background: rgb(200, 235, 251);
    background: linear-gradient(0deg, rgba(200, 235, 251, 1) 21%, rgba(200, 235, 251, 0.4) 52%, rgba(200, 235, 251, 1) 85%);
}

.sortable-chosen {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

/* toastify style */
.toastify-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3000;
}

.toastify {
    width: 350px;
    padding: 10px;
    margin-bottom: 10px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toastify-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.toastify-error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.hidden-header .box-header {
    display: none;
}

.hidden-header .box.box-primary {
    border-top: none;
}

img {
    max-width: 100%;
}

.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    color: #dc3545;
}

.help-block {
    flex: 0 1 100%;
}