{% extends 'base.html.twig' %}

{% block title %}Galerie de
	{{ category.title }}
	| Catégorie
{% endblock %}

{% block description %}
	{{ category.description }}
{% endblock %}

{% block body %}
	{% include "category/components/_header.html.twig" with {images: true} %}
	<article class="p-4">
        <h2 class="content-title-section">
            Les images de la catégorie &laquo;&nbsp;{{ category.title }}&nbsp;&raquo;
        </h2>
		{% include "image/components/_list.html.twig" with {images: images} only %}
	</article>
{% endblock %}
