{% extends 'base.html.twig' %}

{% block title %}Index des langues{% endblock %}

{% block body %}
    <article class="container-fluid py-5">
        <h2 class="display-4 text-center mb-4">Index des langues</h2>
        <p class="lead text-center">Ici, vous pouvez explorer l'ensemble des langues disponibles sur le site.</p>
        <div class="row mt-5">
            {% for idiom in idioms %}
                {% include "idiom/_idiom_card.html.twig" %}
            {% else %}
                <p class="text-center text-muted">
                    Aucune langue
                </p>
            {% endfor %}
        </div>
    </article>
{% endblock %}