{% extends 'admin_layout.html.twig' %}

{% block activeTemplate %}active show{% endblock %}
{% block activeTemplateGroup %}active{% endblock %}

{% block title %}Créer un groupe de modèles{% endblock %}

{% block page_title %}Créer un groupe de modèles{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_template_group_list') }}" class="text-reset">
			Catégorie
		</a>
	</li>
	<li class="breadcrumb-item active">
		Création
	</li>
{% endblock %}

{% block toolbar %}
	<a href="{{ path('admin_app_template_group_list') }}" class="btn btn-default btn-sm">
		<i class="fas fa-long-arrow-left"></i>
		Retour
	</a>
{% endblock %}

{% block body %}
    {{ include('Admin/template_group/_form.html.twig') }}
{% endblock %}
