{% embed 'Admin/components/_toolbar.html.twig' with { prefix: 'place', entity: place, show_route: 'app_place_show'  } %}
    {% block custom_action %}
        <a data-bs-toggle="tooltip" title="Gérer l'image" class="btn btn-sm btn-default"  href="{{ path('admin_app_place_image', {id: place.id}) }}">
            <i class="fas fa-image"></i>
        </a>
    {% endblock %}
    {% block delete_action %}
        {% include "Admin/components/_archive_modal.html.twig" with { element: place, path: 'admin_app_place_archive' } %}
        {{ parent() }}
    {% endblock %}
{% endembed %}
