{% extends 'admin_layout.html.twig' %}

{% block title %}Archives des lieux{% endblock %}

{% block activePlace %} active show {% endblock %}
{% block activePlaceList %}active{% endblock %}

{% block page_title %}Lieux archivés{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Lieux archivés
    </li>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_app_place_list') }}" class="btn btn-default btn-sm">
		<i class="fas fa-long-arrow-left"></i>
		Retour
	</a>
{% endblock %}

{% block body %}
    {% include "Admin/place/_index.html.twig" %}
{% endblock %}

