{% extends 'admin_layout.html.twig' %}

{% block title %}Editer "{{ place }}"{% endblock %}

{% block activePlace %}
	active show
{% endblock %}

{% block activePlaceList %}active {% endblock %}

{% block page_title %}Editer "{{ place }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_place_list') }}" class="text-reset">
			Lieux
		</a>
	</li>
	<li class="breadcrumb-item active">
		Editer
	</li>
{% endblock %}

{% block toolbar %}
    {% include "Admin/place/_toolbar.html.twig" %}
{% endblock %}

{% block body %}
	{% include "Admin/place/_form.html.twig" %}
{% endblock %}
