{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des lieux{% endblock %}

{% block activePlace %} active show {% endblock %}
{% block activePlaceList %}active{% endblock %}

{% block page_title %}Lieu{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Lieu
    </li>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_app_place_create') }}" class="btn btn-default btn-sm">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        Ajouter
    </a>
    <a href="{{ path('admin_app_place_archive_index') }}" class="btn btn-default btn-sm">
        <i class="fas fa-archive" aria-hidden="true"></i>
        Archive
    </a>
{% endblock %}

{% block body %}
    {% include "Admin/place/_index.html.twig" %}
{% endblock %}

