{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des lieux{% endblock %}

{% block activePlace %} active show {% endblock %}
{% block activePlaceList %}active{% endblock %}

{% block page_title %}Lieu{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Lieux
    </li>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_app_place_create') }}" class="btn btn-default btn-sm">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        Ajouter
    </a>
    <a href="{{ path('admin_app_place_archive_index') }}" class="btn btn-default btn-sm">
        <i class="fas fa-archive" aria-hidden="true"></i>
        Archive
    </a>
{% endblock %}

{% block body %}
    <div class="card border-top-primary">
        <div class="card-body p-1">
            <table class="table mb-0 table-striped" id="tableIndex">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Slug</th>
                        <th data-orderable="false">Type</th>
                        <th data-orderable="false">Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const placeRoute = "{{ path('api_place_index') }}";

        $('#tableIndex').DataTable({
            language: {
                url: '/assets/DataTables/i18n/fr-FR.json',
            },
            processing: true,
            serverSide: true,
            paging:true,
            info: true,
            autoWidth: false,
            ajax: placeRoute,
            columns: [
                { data: "title", name:"p.title" },
                { data: "slug", name:"p.slug" },
                { 
                    data: "types", 
                    name:"t.title",
                    render: function ( data, type, row ) {
                        let types = [];
                        row.types.forEach(element => {
                            types.push(element.title)
                        });
                        return types.join(', ');
                    }
                },
                { 
                    data: "actions", 
                    name: null,
                    render: function ( data, type, row ) {

                        return `
                            <div class="btn-group">
                                <a href="/places/${row.slug}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Consulter">
                                    <i class="fas fa-book-reader"></i>
                                </a>
                                <a href="/admin/place/${row.id}/show" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Afficher">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a href="/admin/place/${row.id}/image" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Afficher">
                                    <i class="fas fa-image"></i>
                                </a>
                                <a href="/admin/place/${row.id}/edit" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Éditer">
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                        `;
                    }
                },
            ],
            createdRow: function( row, data, dataIndex ) {
                $( row ).find('td:eq(0)').attr('data-label', 'Nom');
                $( row ).find('td:eq(1)').attr('data-label', 'Slug');
                $( row ).find('td:eq(2)').attr('data-label', 'Type');
                $( row ).find('td:eq(3)').attr('data-label', 'Actions');
            }
        });
    </script>
{% endblock %}

