{% extends 'admin_layout.html.twig' %}

{% block title %}Créer un scénario{% endblock %}
{% block activeScenario %}active show{% endblock %}
{% block activeScenarioList %} active {% endblock %}
{% block page_title %}Créer un scénario{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_scenario_list') }}" class="text-reset">Scénarios</a>
	</li>
	<li class="breadcrumb-item active">Créer</li>
{% endblock %}

{% block toolbar %}
    {% include 'Admin/components/_toolbar.html.twig' with { prefix: 'scenario', entity: null } %}
{% endblock %}

{% block body %}
    {{ include('Admin/scenario/_form.html.twig') }}
{% endblock %}
