<td style="width:35px; text-align:center;">
    <a href="{{ vich_uploader_asset(object) }}">
        <img src="{{ vich_uploader_asset(object)|imagine_filter('icon_image') }}" alt="{{ object.title }}">
    </a>
</td>
