{% if 'ROLE_ADMIN' not in object.roles and 'ROLE_SUPER_ADMIN' not in object.roles %}
	<a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-default delete_link" title="Supprimer">
		<i class="fas fa-times" aria-hidden="true"></i>
		Supprimer
	</a>
{% endif %}
