<a href="{{ vich_uploader_asset(image) }}" data-fslightbox="first-lightbox">
    <img src="{{ vich_uploader_asset(image)|imagine_filter('medium_image') }}" class="img-fluid rounded" alt="{{ image.title }}">
</a>