<a href="{{ path('file_show', {id: image.id }) }}" data-fslightbox="first-lightbox">
    <img src="{{ path('file_medium', {id: image.id }) }}" class="img-fluid rounded" alt="{{ image.title }}">
</a>


{# vich_uploader_asset #}