<div class="d-flex flex-wrap p-2" style="gap:7px; max-width: 1150px;margin: 0 auto;">
	{% for image in images %}
		{% include "image/components/_thumbnail.html.twig" with {image:image} %}
	{% else %}
		<div class="text-muted text-center w-100">Il n'y a aucune image dans cette section.</div>
	{% endfor %}
</div>
