<div class="row g-3">
	{% for image in images %}
		<div class="col-sm-6 col-lg-4 col-xl-3">
			{% include "image/components/_thumbnail.html.twig" with {image:image} %}
		</div>
	{% else %}
		<div class="mt-4 text-muted text-center">Il n'y a aucune image dans cette section.</div>
	{% endfor %}
</div>
