<td class="sonata-ba-list-field sonata-ba-list-field-string" objectid="{{object.id}}">
    {% if object.icon %}
        <i class="{{ object.icon }}" title="{{ object.icon }}"></i
    {% endif %}
</td>