<th>Actions</th>
<td>
    <a class="sonata-link-identifier" href="{{ path('admin_app_category_sortable', {id: object.id}) }}">
        <i class="fas fa-sort-amount-down-alt"></i>
        Ordonner les portails et les catégories
    </a>
</td>