<a href="{{ path('admin_app_category_sortable', {id: object.id}) }}" class="btn btn-sm btn-default view_link" title="Gérer l'ordre des elements">
    <i class="fas fa-sort-amount-down-alt"></i>
    Ordonner les éléments
</a>
