{% if route_name is not defined %}
    {% set route_name = 'app_article_index' %}
{% endif %}

{{ form_start(form, {'action': path(route_name), 'method': 'GET'}) }}
    <div class="search-row">
        {{ form_widget(form) }}
        <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
    </div>
{{ form_end(form) }}