/* map */
#map-container {
    position: relative;
    overflow: hidden;
}

#map-container img {
    width: 100%;
}

.marker {
    position: absolute;
}

.modal {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.modal::-webkit-scrollbar {
    display: none;
}