{% extends 'admin_layout.html.twig' %}

{% block title %}Editer "{{ timeline }}"{% endblock %}

{% block activeWiki %}active show{% endblock %}
{% block activeTimeline %}active{% endblock %}

{% block page_title %}Editer "{{ timeline }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_timeline_list') }}" class="text-reset">
			Chronologies
		</a>
	</li>
	<li class="breadcrumb-item active">
		Editer
	</li>
{% endblock %}

{% block toolbar %}
    {% include "Admin/timeline/_toolbar.html.twig" %}
{% endblock %}

{% block body %}
	{% include "Admin/timeline/_form.html.twig" %}
{% endblock %}
