.bg-default {
    background-color: var(--secondary);
}

.bg-default .btn-outline-light:hover {
    color: var(--secondary);
}

.bg-default-light {
    background-color: var(--secondary-light);
}

.bg-main {
    background-color: #fff;
}

.border-item,
.navbar.navbar-expand-lg,
footer {
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}

.column-3 {
    column-count: 1;
    gap: 10px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 3rem;
}

.breadcrumb a {
    text-decoration: none;
}

@media (min-width:768px) {
    .grid-2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 3rem;
    }

    .column-3 {
        column-count: 2;
    }
}

@media (min-width:992px) {

    .column-3 {
        column-count: 3;
    }
}

.navbar {
    z-index: 3000;
}

figure {
    text-align: center;
    outline: solid 1px #ccc;
    background: rgba(0,0,0,0.05);
    padding: 10px;
    margin-left: 0.5rem!important;
    display: inline-block;
}