{% extends 'admin_layout.html.twig' %}

{% block title %}Administration du forum{% endblock %}

{% block activeAdmin %}active show {% endblock %}
{% block activeForum %}active{% endblock %}

{% block page_title %}Administration du forum{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Forum
    </li>
{% endblock %}