{% extends 'admin_layout.html.twig' %}

{% block title %}Créer une catégorie{% endblock %}

{% block activeWiki %}active show{% endblock %}
{% block activeCategory %}active{% endblock %}

{% block page_title %}Créer une catégorie{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_category_list') }}" class="text-reset">
			Catégories
		</a>
	</li>
	<li class="breadcrumb-item active">
		Créer
	</li>
{% endblock %}

{% block toolbar %}
    {% include 'Admin/components/_toolbar.html.twig' with { prefix: 'category', entity: null } %}
{% endblock %}

{% block body %}
	{% include "Admin/category/_form.html.twig" %}
{% endblock %}
