{% extends 'admin_layout.html.twig' %}

{% block title %}Editer "{{ category }}"{% endblock %}

{% block activeWiki %}active show{% endblock %}
{% block activeCategory %}active{% endblock %}

{% block page_title %}Editer "{{ category }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_category_list') }}" class="text-reset">
			Catégories
		</a>
	</li>
	<li class="breadcrumb-item active">
		Editer
	</li>
{% endblock %}

{% block toolbar %}
    {% include "Admin/category/_toolbar.html.twig" %}
{% endblock %}

{% block body %}
	{% include "Admin/category/_form.html.twig" %}
{% endblock %}
