{% extends 'admin_layout.html.twig' %}

{% block title %}Editer "{{ person }}"{% endblock %}

{% block activePerson %}active show{% endblock %}
{% block activePersonList %}active{% endblock %}

{% block page_title %}Editer "{{ person }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_person_list') }}" class="text-reset">
			Personnages
		</a>
	</li>
	<li class="breadcrumb-item active">
		Editer
	</li>
{% endblock %}

{% block toolbar %}
    {% include "Admin/person/_toolbar.html.twig" %}
{% endblock %}

{% block body %}
	{% include "Admin/person/_form.html.twig" %}
{% endblock %}
