{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
	<a href="{{ path('admin_app_person_image', {id: object.id}) }}" class="btn btn-sm btn-default view_link" title="Télécharger">
		<i class="fas fa-image"></i>
		Gérer l'image
	</a>
{% endif %}
