{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des personnages{% endblock %}

{% block activePerson %} active show {% endblock %}
{% block activePersonList %}active{% endblock %}

{% block page_title %}Personnage{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Personnage
    </li>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_app_person_create') }}" class="btn btn-default btn-sm">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        Ajouter
    </a>
    <a href="{{ path('admin_app_person_archive_index') }}" class="btn btn-default btn-sm">
        <i class="fas fa-archive" aria-hidden="true"></i>
        Archive
    </a>
{% endblock %}

{% block body %}
    <div class="card border-top-primary">
        <div class="card-body p-1">
            <table class="table mb-0 table-striped" id="tableIndex">
                <thead>
                    <tr>
                        <th class="table-id">Id</th>
                        <th>Prénom</th>
                        <th>Nom de famille</th>
                        <th>Nationalité</th>
                        <th>Date de naissance</th>
                        <th>Date de mort</th>
                        <th data-orderable="false">Type</th>
                        <th data-orderable="false">Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const personRoute = "{{ path('api_person_index') }}";

        $('#tableIndex').DataTable({
            language: {
                url: '/assets/DataTables/i18n/fr-FR.json',
            },
            processing: true,
            serverSide: true,
            paging:true,
            info: true,
            autoWidth: false,
            ajax: personRoute,
            columns: [
                { 
                    data: "id", 
                    name:"p.id", 
                    render: function (data, type, row) {
                        return `
                            <a href="/person/${row.slug}" class="fw-bold">${row.id}</a>
                        `;
                    }
                },
                { data: "firstname", name:"p.firstname" },
                { data: "lastname", name:"p.lastname" },
                { data: "nationality", name:"p.nationality" },
                { data: "birthday", name:"p.birthday" },
                { data: "deathDate", name:"p.deathDate" },
                { 
                    data: "type", 
                    name:"t.title",
                    render: function ( data, type, row ) {
                        let types = [];
                        row.type.forEach(element => {
                            types.push(element.title)
                        });
                        return types.join(', ');
                    }
                },
                { 
                    data: "actions", 
                    name: null,
                    render: function ( data, type, row ) {

                        return `
                            <div class="btn-group">
                                <a href="/person/${row.slug}/show" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Consulter">
                                    <i class="fas fa-book-reader"></i>
                                </a>
                                <a href="/admin/person/${row.id}/show" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Afficher">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a href="/admin/person/${row.id}/image" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Afficher">
                                    <i class="fas fa-image"></i>
                                </a>
                                <a href="/admin/person/${row.id}/edit" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Éditer">
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                        `;
                    }
                },
            ],
            createdRow: function( row, data, dataIndex ) {
                $( row ).find('td:eq(0)').attr('data-label', 'Id');
                $( row ).find('td:eq(1)').attr('data-label', 'Prénom');
                $( row ).find('td:eq(2)').attr('data-label', 'Nom');
                $( row ).find('td:eq(3)').attr('data-label', 'Nationalité');
                $( row ).find('td:eq(4)').attr('data-label', 'Naissance');
                $( row ).find('td:eq(5)').attr('data-label', 'Mort');
                $( row ).find('td:eq(6)').attr('data-label', 'Type');
                $( row ).find('td:eq(7)').attr('data-label', 'Actions');
            }
        });
    </script>
{% endblock %}

