{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des personnages{% endblock %}

{% block activePerson %} active show {% endblock %}
{% block activePersonList %}active{% endblock %}

{% block page_title %}Personnage{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Personnage
    </li>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_app_person_create') }}" class="btn btn-default btn-sm">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        Ajouter
    </a>
    <a href="{{ path('admin_app_person_archive_index') }}" class="btn btn-default btn-sm">
        <i class="fas fa-archive" aria-hidden="true"></i>
        Archive
    </a>
{% endblock %}

{% block body %}
    {% include "Admin/person/_index.html.twig" %}
{% endblock %}

