{% extends 'base.html.twig' %}

{% block title %}Tous les types d'article{% endblock %}

{% block body %}    
    <section class="mb-5 container-fluid">
        <div class="row border-bottom align-items-center py-3 bg-default-light">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_home') }}">Accueil</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Types d'articles</li>
                </ol>
            </nav>
        </div>

        <h2 class="list-title text-center">Explorez l'encyclopédie par thématique</h2>
        <div class="row mt-5">
            {% for type in types %}
                <div class="col-md-4 text-center mb-3">
                    <div class="bg-default rounded py-2 position-relative">
                        {% if type.icon %}<div class="mb-1 h2 text-white"><i class="{{ type.icon }}" aria-hidden="true"></i></div>{% endif %}
                        <h2 class="h5">
                            <a href="{{ path('app_articletype_show', {slug: type.slug}) }}" class="text-white text-decoration-none stretched-link">
                                {{ type }}
                            </a>
                        </h2>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <h2 class="h5 my-4 text-center text-muted">
                        Aucun type d'article
                    </h2>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
