{% extends 'admin_layout.html.twig' %}

{% block title %}Editer "{{ idiom_category }}"{% endblock %}

{% block activeIdiom %}active show{% endblock %}
{% block activeIdiomCategory %}active{% endblock %}

{% block page_title %}Editer "{{ idiom_category }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_idiom_category_list') }}" class="text-reset">
			Catégories linguistiques
		</a>
	</li>
	<li class="breadcrumb-item active">
		Editer
	</li>
{% endblock %}

{% block toolbar %}
    {% include 'Admin/components/_toolbar.html.twig' with { prefix: 'idiom_category', entity: idiom_category } %}
{% endblock %}

{% block body %}
    {{ include('Admin/idiom_category/_form.html.twig') }}
{% endblock %}
