{% extends 'admin_layout.html.twig' %}

{% block title %}Créer une categorie de scénario{% endblock %}
{% block activeScenario %}active show{% endblock %}
{% block activeScenarioCategory %} active {% endblock %}
{% block page_title %}Créer une categorie de scénario{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_scenario_category_list') }}" class="text-reset">Page</a>
	</li>
	<li class="breadcrumb-item active">Création</li>
{% endblock %}

{% block toolbar %}
	<a href="{{ path('admin_app_scenario_category_list') }}" class="btn btn-default btn-sm">
		<i class="fas fa-long-arrow-left"></i>
		Retour
	</a>
{% endblock %}

{% block body %}
    {{ include('Admin/scenario_category/_form.html.twig') }}
{% endblock %}
