{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des catégories de scénario{% endblock %}
{% block activeScenario %}active show{% endblock %}
{% block activeScenarioCategory %} active {% endblock %}
{% block page_title %}Catégorie de scénario{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Catégories de scénario</li>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_app_scenario_category_create') }}" class="btn btn-default btn-sm">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        Ajouter
    </a>
{% endblock %}

{% block body %}
    <div class="card border-top-primary">
        <div class="card-body p-1">
            <table class="table data-table mb-0 table-striped">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th data-orderable="false">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for scenario_category in scenario_categories %}
                    <tr>
                        <td data-label="Titre">{{ scenario_category.title }}</td>
                        <td data-label="Actions">
                            <div class="btn-group">         
                                <a href="{{ path('admin_app_scenario_category_show', {id: scenario_category.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Afficher">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a href="{{ path('admin_app_scenario_category_edit', {id: scenario_category.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Éditer">
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                </a>
                                {% include "Admin/components/_delete_modal.html.twig" with { element: scenario_category, path: 'admin_app_scenario_category_delete' } %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
