<aside class="col-md-4 aside">
	<h3 class="h4 mb-4">Portails de cette catégorie</h3>
	{{ include('components/layout/_tag_list.html.twig', {items: category.portals, path: 'app_portal_show'}) }}

	<h3 class="h4 mb-4">Chronologies de cette catégorie</h3>
	{% for timeline in category.timelines %}
		<p>
			<a href="{{ path('app_timeline_show', {slug: timeline.slug}) }}" class="label mx-1" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ timeline.description ? timeline.description : 'Aucune description' }}">
				<i class="bi bi-hourglass"></i>
				{{ timeline.title }}
			</a>
		</p>
	{% else %}
		<p>Aucune chronologie</p>
	{% endfor %}
</aside>
