{% embed 'Admin/components/_toolbar.html.twig' with { prefix: 'article', entity: article, show_route: 'app_article_show'  } %}
    {% block custom_action %}
        <a href="{{ path('admin_app_article_section', {id: article.id}) }}" class="btn btn-sm btn-default" title="Gérer les section">
            <i class="fas fa-clone"></i>
        </a>
        <a href="{{ path('admin_app_article_gallery', {id: article.id}) }}" class="btn btn-sm btn-default" title="Gérer la galerie">
            <i class="fa fa-image" aria-hidden="true"></i> 
        </a>
    {% endblock %}

    {% block edit_action %}
        {% if can_access(app.user, article) %}
            {{ parent() }}
            {% include "Admin/components/_archive_modal.html.twig" with { element: article, path: 'admin_app_article_archive' } %}
        {% endif %}
    {% endblock %}

    {% block delete_action %}
        {% if can_access(app.user, article) %}
            {{ parent() }}
        {% endif %}
    {% endblock %}
{% endembed %}
