<td class="sonata-ba-list-field sonata-ba-list-field-string" objectid="{{object.id}}">
    <a class="sonata-link-identifier" href="{{ path('app_article_show', {slug: object.slug }) }}">
        {{ object.title }}
    </a>
</td>