{% extends 'Admin/article/show_general.html.twig' %}

{% block show_tab %}
	<div {{ vue_component('admin/image/EntityGallery', { dateFormat: date_format, entityId: article.id, type: 'article' }) }}></div>
{% endblock %}
