{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block activeWiki %} active show {% endblock %}
{% block activeArticle %}active{% endblock %}

{% block page_title %}Article{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Article
    </li>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_app_article_create') }}" class="btn btn-default btn-sm">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        Ajouter
    </a>
    <a href="{{ path('admin_app_article_archive_index') }}" class="btn btn-default btn-sm">
        <i class="fas fa-archive" aria-hidden="true"></i>
        Archive
    </a>
{% endblock %}

{% block body %}
    {% include "Admin/article/_index.html.twig" %}
{% endblock %}

