{% if handlePrivate is not defined %}
	{% set handlePrivate = false %}
{% endif %}

<p class="article-link" data-bs-toggle="tooltip" title="{{ item.description ? item.description : 'Aucune description' }}">
	<a href="{{ path(path, {slug: item.slug}) }}">
		{{ item.title }}
		{% if handlePrivate %}
			{% if item.isPrivate %}
				<i class="fas fa-lock fw-bold, text-danger" data-bs-toggle="tooltip" title="Privé (visible uniquement par son auteur et les administrateurs)"></i>
			{% endif %}
		{% endif %}
	</a>
	<i class="fas fa-chevron-right fw-bold"></i>
</p>
