{% if position is not defined %}
	{% set position = 'right' %}
{% endif %}

<a href="{{ path(path, {slug: item.slug}) }}" class="label mx-1" data-bs-toggle="tooltip" data-bs-placement="{{position}}" title="{{ item.description ? item.description : 'Aucune description' }}">
	<i class="bi bi-tag-fill me-1"></i>
	{{ item.title }}
</a>
