
.choices__input, .choices__inner {
    background-color: #fff;
}

.choices__inner {
    border-radius: var(--bs-border-radius);
}

.choices__list--multiple .choices__item {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.choices__list--dropdown, .choices__list[aria-expanded] {
    z-index: 9999;
}

.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
    border-left: 1px solid #f8f9fa;
}