{% extends 'base.html.twig' %}

{% block title %}
    Erreur 403
{% endblock %}

{% block body %}
    <section class="py-5 row justify-content-center">
		<div class="col-12 col-md-9 col-lg-7">
			<div class="card shadow mx-5 border-0 rounded-3">
				<div class="card-body">
					<h2 class="text-center mb-5 text-danger">Accès interdit</h2>
                    <p class="text-danger">
                        Vous n'avez pas les permissions pour consulter cette page. Si vous pensez qu'il s'agit d'une erreur,
                        <a href="{{ path('app_contact') }}" class="text-danger fw-bold">contactez à l'administrateur</a>.
                    </p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}