<p class="mb-0">
    <small>
        {% if author is not null %}
            Par <a href="{{path('app_user_show', {id: author.id})}}" class="author">{{author.username}}</a> &raquo; 
        {% else %}
            <span class="author">Anonyme</span> &raquo;
        {% endif %}
        {{ post.createdAt|date(date_format) }} 
    </small>
</p>