{% extends 'forum/base.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Lorem ispum</li> 
{% endblock %}

{% block forum_content %}
    {% include "forum/components/_category_block.html.twig" %}
{% endblock %}