{% extends 'admin_layout.html.twig' %}

{% block title %}Créer une page{% endblock %}
{% block activeAdmin %}active show{% endblock %}
{% block activePage %} active {% endblock %}
{% block page_title %}Créer une page{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_page_list') }}" class="text-reset">
			Page
		</a>
	</li>
	<li class="breadcrumb-item active">
		Création
	</li>
{% endblock %}

{% block toolbar %}
	<a href="{{ path('admin_app_page_list') }}" class="btn btn-default btn-sm">
		<i class="fas fa-long-arrow-left"></i>
		Retour
	</a>
{% endblock %}

{% block body %}
	{% include "Admin/page/_form.html.twig" %}
{% endblock %}
