{% extends 'admin_layout.html.twig' %}

{% block title %}Créer une page{% endblock %}
{% block activeSetting %}active show{% endblock %}
{% block activePage %} active {% endblock %}
{% block page_title %}Créer une page{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_page_list') }}" class="text-reset">
			Pages
		</a>
	</li>
	<li class="breadcrumb-item active">
		Créer
	</li>
{% endblock %}

{% block toolbar %}
    {% include 'Admin/components/_toolbar.html.twig' with { prefix: 'page', entity: null } %}
{% endblock %}

{% block body %}
	{% include "Admin/page/_form.html.twig" %}
{% endblock %}
